.navigatie {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 2rem 2.8rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	background-color: transparent;
	box-sizing: border-box;
}

.navigatie-logo-container {
	display: flex;
	align-items: center;
	z-index: 1;
}

.navigatie-logo {
	object-fit: contain;
	width: 155px;
}

.navigatie-hamburger-menu {
	width: 40px;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 13px;
	cursor: pointer;
	background-color: #48bda0;
	gap: 5px;
	position: relative;
	z-index: 1001;
	transition: all 0.3s ease-in-out;
}

.navigatie-hamburger-line {
	width: 50px;
	height: 4.3px;
	background-color: #ffffff;
	transition: all 0.3s ease-in-out;
	transform-origin: center;
}

.navigatie-hamburger-line:first-child,
.navigatie-hamburger-line:last-child {
	width: 35px;
}

/* Hamburger naar X animatie */
.navigatie-hamburger-menu.open .navigatie-hamburger-line:first-child {
	transform: translateY(13px) rotate(45deg);
	width: 50px;
}

.navigatie-hamburger-menu.open .navigatie-hamburger-line:nth-child(2) {
	opacity: 0;
}

.navigatie-hamburger-menu.open .navigatie-hamburger-line:last-child {
	transform: translateY(-13px) rotate(-45deg);
	width: 50px;
}

/* Side menu */
.navigatie-side-menu {
	position: fixed;
	top: 0;
	right: -50%;
	width: 50%;
	height: 100vh;
	background-color: #fdf6f2;
	transition: right 0.3s ease-in-out;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow-y: auto;
}

.navigatie-side-menu.open {
	right: 0;
}

.navigatie-menu-items {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.navigatie-menu-item {
	padding: 20px;
	padding-left: 100px;
	cursor: pointer;
	border-bottom: 1px solid rgba(240, 240, 240, 0.3);
	position: relative;
}

.navigatie-menu-item h3 {
	margin: 0 0 0 0;
	color: #000000;
	font-family: "Cal Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
}

.navigatie-menu-item p {
	margin: 0;
	font-size: 14px;
	color: #666;
	font-family: "poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.navigatie-menu-item:hover h3 {
	color: #48bda0;
}

.navigatie-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

/* Tablet Responsiveness */
@media (max-width: 768px) {
	.navigatie {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.navigatie-side-menu {
		width: 100%;
		right: -100%;
	}

	.navigatie-side-menu.open {
		right: 0;
		width: 100%;
	}

	.navigatie-menu-item {
		padding-left: 2rem;
	}

	.navigatie-hamburger-menu.open .navigatie-hamburger-line:first-child {
		transform: translateY(13px) rotate(45deg);
		width: 50px;
	}

	.navigatie-hamburger-menu.open .navigatie-hamburger-line:last-child {
		transform: translateY(-13px) rotate(-45deg);
		width: 50px;
	}
}

/*Mobile Responsiveness */
@media (max-width: 460px) {
	.navigatie {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.navigatie-logo {
		object-fit: contain;
		width: 130px;
	}

	.navigatie-side-menu {
		width: 100%;
		right: -100%;
	}

	.navigatie-side-menu.open {
		right: 0;
		width: 100%;
	}

	.navigatie-menu-item {
		padding-left: 2rem;
	}

	.navigatie-hamburger-menu.open .navigatie-hamburger-line:first-child {
		transform: translateY(13px) rotate(45deg);
		width: 50px;
	}

	.navigatie-hamburger-menu.open .navigatie-hamburger-line:last-child {
		transform: translateY(-13px) rotate(-45deg);
		width: 50px;
	}

	.navigatie-menu-item h3 {
		font-size: 30px;
	}

	.navigatie-menu-item p {
		font-size: 14px;
	}
}
